<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DbHelperProvider" connectionString="System.Data.SqlClient" />
		<add name="DbHelperConnectionString" connectionString="Data Source=192.168.140.70;database=BzTT;uid=sa;pwd=abc123" />
	</connectionStrings>
	<appSettings>
		<!--表格分页每页显示的条目数-->
		<add key="pageSize" value="10" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	
</configuration>